// color
$transparent = transparent
$white_fff = #ffffff
$black_222 = #222222
$gray_f5f5f5 = #f5f5f5
$gray_888 = #888888
$gray_aaa = #aaaaaa
$gray_ccc = #cccccc
$red = #ff4b45

// Font
$font_weight_normal = 400
$font_weight_bold = 700
$font_weight_black = 900

$content_area_width = 1120px
$header_height = 113px
$header_height_sp = 72px
